{% extends "main.html" %}

{% block content %}

    {% for user in users %}
    <div class="border rounded p-3">
        <p>{{user.username}}</p>
        <p>{{user.email}}</p>
    </div>
    {% endfor %}

{% endblock %}