{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <div class="jumbotron">
        <h1>Simple Blog</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
        <div class="col-sm-8">
            {% block content %}
            {% endblock content %}
        </div>


        {% block login %}
            <div class="col-sm-4">
            {% if not userlog.is_authenticated %}
                <form action="/login/" method="post" class="menu">
                    {% csrf_token %}
                    {{ logform.as_p }}
                    <input type="submit" value="Login" class="btn btn-primary">
                </form>
            {% else %}
                <form action="/logout/" method="post" >
                    {% csrf_token %}
                    <p>{{ userlog.username }}</p>
                    <input type="submit" value="Logout" class="btn btn-primary">
                </form>
            {% endif %}
            </div>
        {% endblock %}
            </div>
    </div>
    <script type="text/javascript" src='{% static "js/jquery-3.3.1.min.js" %}' ></script>

</body>
</html>