{% extends 'main.html' %}


{% block content %}

{% for post in posts %}

<div class="rounded p-4 border">
    <h4 class="text-center"><a href="/blog/{{post.id}}/">{{post.title}}</a></h4>
    <p class="lead">{{post.text}}</p>
    <span class="d-inline-block">Date:{{post.create}}</span>
    <p>Owner: {{post.author}}</p>
</div>
{% endfor %}


{% endblock %}